<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Database"
      connectionString="Data Source=.\ec2sqlexpress;Initial Catalog=SocialChoose;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <!--compilation xdt:Transform="RemoveAttributes(debug)" /-->
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
  <facebookSettings xdt:Transform="SetAttributes(appId,appSecret)" appId="244099262269266" appSecret="9174a319a48d8bcf008e30615b9480d4" />
</configuration>