@{
    ViewBag.Title = "DonorsChoose browing using Facebook";
}
<h3>Welcome.</h3>
<p>SocialChoose uses your Facebook information to find DonorsChoose projects which might be of interest to you. Let's get @Html.ActionLink("started","Index","Link")!</p>