@{
    ViewBag.Title = "Link Facebook";
}
<script type="text/javascript">
    $(function () {
        $('.btn').button();
        $('#Facebook-Link').addClass('ui-state-selected').removeClass('ui-state-default');
    });
</script>
<h1>Let's Find Some Projects</h1>
<p>In order to find projects that match your interests, let's link your Facebook account. </p>
    
        @{if (ViewData.ContainsKey("HasFacebook"))
          { <span>Facebook is already linked! </span>@Html.ActionLink("View Projects", "Index", new { controller = "Projects" }, new { @class = "btn" }) }
          else
          {
              @Html.ActionLink("Facebook", "FBLogOn", new { controller = "Auth", returnUrl = this.Url.RouteUrl(this.ViewContext.RouteData.Values) }, new { @class = "btn" })
              <script type="text/javascript">
                  $('#Explore-Link').addClass('ui-state-disabled');
              </script>
          }}

