@{
    ViewBag.Title = "Explore Projects";
}

<script type="text/javascript">
    var fbData,sc;

    function SocialChoose(fbData) {
        var _data = fbData;
        var _locations = [];
        var _schools = [];
        var that = this;

        function getValue(key,MemberName, toFilter) {
            if (arguments.length == 2)
                toFilter = _data;

            var kvp = _.detect(toFilter, function (i) { return i[MemberName] == key; });

            if (kvp != undefined)
                return kvp.Value;
            else
                return null;
        }
        this.getData = function () { return _data };
        this.getLocations = function () {
            var currentLoc,
            hometown,
            work;

            if (_locations.length > 0)
                return _locations;

            function AddLocation(newLoc) {
                if (!_.detect(_locations, function (i) { return i == newLoc }))
                    _locations.push(newLoc);
            }
            currentLoc = getValue("location", "Key");
            if (currentLoc != null) {
                AddLocation(getValue("name", "Key", currentLoc));
            }
            hometown = getValue("hometown", "Key");
            if (hometown != null) {
                AddLocation(getValue("name", "Key", hometown));
            }
            work = getValue("work", "Key");
            if (work != null) {
                var workFlattened = _.flatten(work);
                var locationElements = _.each(workFlattened, function (i) {
                    if (i.Key == "location") {
                        AddLocation(getValue("name", "Key", i.Value));
                    }
                });
            }
            var locationContainer = $("#Locations-List");
            console.log(_locations);
            $.each(_locations, function () {
                locationContainer.append("<li><a href='#'>" + this + "</a></li>");
            });

            $("#Locations-List li").click(function (e) {
                e.preventDefault();
                var term = $(this).text();
                that.loadResult(term);
            });
        }

        this.loadResult = function (value) {
            var container = $('#Results-Container').empty();
            $.getJSON('@Url.Action("Search","Projects")?value=' + value, function (result) {
                resultData = $.parseJSON(result);
                if (resultData.totalProposals == 0)
                    container.append('No projects found. Try another search!');
                $.tmpl("ProposalTemplate", resultData.proposals).appendTo(container);

                $('.progress-bar', container).each(function () {
                    $(this).progressbar({ value: $(this).data('complete') });
                })
                $('.fund-button', container).button();
            });
        }

        this.getLocations();
    }

    $(function () {
        $('#Explore-Link').addClass('ui-state-selected').removeClass('ui-state-default');
        $("#Proposal-Template").template("ProposalTemplate");
        $.getJSON('@Url.Action("Retrieve","Projects")', function (data) {
            if (data.authRequired != undefined) {
                window.location.assign(data.authRequired);
                return;
            }
            sc = new SocialChoose(data);
        });




    });
</script>
<div id="Menu-Container">
    <ul>
        <li>Locations
            <ul id="Locations-List">
            </ul>
        </li>
    </ul>
</div> 
<div id="Results-Container">
    <p>Select an item to search for from the left to get started.</p>
</div>
<script id="Proposal-Template" type="text/x-jquery-tmpl">
    <div class="proposal-wrapper ui-helper-clearfix">
        <img src="${imageURL}" width="210" height="210" alt="Project Image" />
        <div class="right-col">
            <h4>${title}</h4>
            <a class="fund-button" href="${fundURL}">Fund This Project </a><a class="learn-more" href="${proposalURL}">Learn More</a><br />
            <span class="school-info">${schoolName} <span class="city">${city}, ${state}</span></span>
            <p>"${fulfillmentTrailer}" <br /> <span class="teacher">- ${teacherName}</span></p>
            <div class="progress-bar" data-complete="${percentFunded}" />
            <div class="funding-information">Total cost is ${totalPrice}, ${costToComplete} to go.</div>
        </div>
        
    </div>
</script>




